#presentacion {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 4rem; }
  #presentacion * {
    width: 100%;
    align-self: center; }
  #presentacion img {
    border: 0;
    background: none;
    box-shadow: none; }
